.logo {
	width: 75%;
}

@font-face {
    font-family: "Miama"; /*a name to be used later*/
    src: url("../dist/fonts/Miama.ttf"); /*URL to font*/
}

.laureates {
	font-family: "Miama";
	font-size: 400%;
	padding-top: 30%;
	color: #000000;
	text-shadow: 2px 2px 8px #ffffff;
}

.carousel-text {
	color: #000000;
	text-shadow: 2px 2px 8px #ffffff;
}

.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

#slide-down {
	text-align:	center;

}

.glyph {
	font-size: 300%;
	text-align: center;
	padding-bottom: 10%;
}

#map_canvas {
        height: 100%;
		width:	100%;
        margin: 0px;
        padding-top: 50%;
        padding-bottom: -50%;
        margin-left: 15%;
        margin-bottom: 10%;
}

<!--
////////////////////////////////////////
////           Demo #1              ////
////////////////////////////////////////
-->

.dropcontainer {
	position:relative;
	font-size: 16px;
	color: #777;
	} 

.trigger {
	color: #777;
	padding: 10px;
	font-size: 16px;
	width: 50%;
	background: #fff url(../pictures/select-arrow-open.png) 98% center no-repeat;
	display: block;
	border: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease; 
	transition: all 0.5s ease;
	}

.trigger:hover {
	color: #777;
	background: #f5f5f5 url(../pictures/select-arrow-open.png) 98% center no-repeat;
	}

.activetrigger {
	color: #777;
	padding: 10px;
	font-size: 16px;
	width: 50%;
	background: #f5f5f5 url(../pictures/select-arrow-close.png) 98% center no-repeat;
	display: block;
	border: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

.activetrigger:hover {
	background: #f5f5f5 url(../pictures/select-arrow-close.png) 98% center no-repeat;
	color: #777;
	}

.activetrigger:active {
	background: #f5f5f5 url(../pictures/select-arrow-close.png) 98% center no-repeat;
	color: #777;
	}

.dropcontainer ul {
	font-size: 16px;
	border: 1px solid #ccc;
	border-top: none;
	background: #fff;
	list-style-type: none;
	padding: 10px;
	margin: 0;
	width: 50%;
	z-index: 100;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

.dropcontainer ul li {
	padding: 5px;
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease; 
	transition: all 0.5s ease;
	}

.dropcontainer ul li:hover {
	background: #f5f5f5;
	outline: none;
	}

.dropcontainer ul li:first-child {
	display: none;
	}

.dropcontainer ul li:last-child {
	border-bottom: none;
	}

.dropdownhidden {
	display: none;
	}

.dropdownvisible {
	height: auto;
	}


<!--
////////////////////////////////////////
////           Demo #2              ////
////////////////////////////////////////
-->	


.dropcontainer_demo2 {
	position:relative;
	font-size: 16px;
	color: #777;
	} 

.trigger_demo2 {
	
	padding: 5px;
	font-size: 16px;
	width: 60%;
	background: #fff url(../pictures/select-arrow-open.png) 98% center no-repeat;
	display: block;
	border: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease; 
	transition: all 0.5s ease;
	}

.trigger_demo2:hover {
	color: #777;
	background: #f5f5f5 url(../pictures/select-arrow-open.png) 98% center no-repeat;
	}

.activetrigger_demo2 {
	color: #777;
	padding: 10px;
	font-size: 16px;
	width: 50%;
	background: #f5f5f5 url(../pictures/select-arrow-close.png) 98% center no-repeat;
	display: block;
	border: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

.activetrigger_demo2:hover {
	background: #f5f5f5 url(../pictures/select-arrow-close.png) 98% center no-repeat;
	color: #777;
	}

.activetrigger_demo2:active {
	background: #f5f5f5 url(../pictures/select-arrow-close.png) 98% center no-repeat;
	color: #777;
	}

.dropcontainer_demo2 ul {
	font-size: 16px;
	border: 1px solid #ccc;
	border-top: none;
	background: #fff;
	list-style-type: none;
	padding: 10px;
	margin: 0;
	width: 50%;
	z-index: 100;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

.dropcontainer_demo2 ul li {
	padding: 5px;
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease; 
	transition: all 0.5s ease;
	}

.dropcontainer_demo2 ul li:hover {
	background: #f5f5f5;
	outline: none;
	}

.dropcontainer_demo2 ul li:first-child {
	display: none;
	}

.dropcontainer_demo2 ul li:last-child {
	border-bottom: none;
	}

.dropdownhidden_demo2 {
	display: none;
	}

.dropdownvisible_demo2 {
	height: auto;
	}

.dropdownvisible_demo2 {
	height: 200px;
	overflow-y: scroll;
	}
#criteria{
	float:center;
	max-width:32%;
}

.first-column {
  width: 50%;
  float: left;
}

.second-column {
  width: 50%;
  float: right;
}

.select-option {
	width: 100%;
}
